<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- build:css -->
        <link rel="stylesheet" href="styles.css">
        <!-- endbuild -->

    </head>
    <body>

        <h1>React Bootstrap</h1>
        
        <!-- react.js UI - See App.jsx -->
        <div id="app">{{ html|safe }}</div>
        
        <!-- build:js -->
        <script src="build.js"></script>
        <!-- endbuild -->

    </body>
</html>
